.container-small {
  width: 60%;
  background: #eee;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  border: 0.5px lightgray solid;
}

.invalid-input-header {
  color: #FF5252
}

.invalid-input-text {
  color: #ef2b29;
}